[submodule "Matching Game/Matching/Assets/Scripts"]
	path = Matching Game/Matching/Assets/Scripts
	url = https://github.com/LordTelum/scripts.git
[submodule "Matching Game/2D_Matching/Assets/scripts"]
	path = Matching Game/2D_Matching/Assets/scripts
	url = https://github.com/LordTelum/scripts.git
